
.DS_Store

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# IDE junk
.idea/*
*.iml
.project

# project
downloads/*
