idp.noprompt="true"
idp.host.name=vagrant.local
idp.src.dir={{ shib_installdir }}/shibboleth-identity-provider-{{ shib_idp_version }}/
idp.target.dir={{ shib_installdir }}/shibboleth-idp/
idp.merge.properties={{ shib_installdir }}/shibboleth-identity-provider-{{ shib_idp_version }}/bin/idp.properties
idp.keystore.password=secret1
idp.sealer.password=secret1
