idp.noprompt="true"
idp.host.name="vagrant.localhost"
idp.src.dir=/opt/shibboleth-identity-provider-{{ shib_idp_version }}/
idp.target.dir=/opt/shibboleth-idp/
idp.merge.properties=/opt/shibboleth-identity-provider-{{ shib_idp_version }}/bin/idp.properties
idp.keystore.password=secret1
idp.sealer.password=secret1
